@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=PT+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  body{
    background-color: #F9F9FA;
  }

.started{
    background-image: url("./Assets/images/bg-mb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media screen and (min-width: 620px) {
    .started{
        background-image: url("./Assets/images/bg-lg.png");   
        background-size: cover;
        background-position: center center;
    }
}


.line{
  transform: perspective(1200px) rotate(10deg)
}

.pic{
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%)
}

.team1{
  background-image: url("./Assets/images/team1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.team2{
  background-image: url("./Assets/images/team2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.team3{
  background-image: url("./Assets/images/team3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.team4{
  background-image: url("./Assets/images/team4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
