@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=PT+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #F9F9FA;
}


.started {
  background-image: url("./Assets/images/bg-mb.png");
}

@media screen and (min-width: 620px) {
  .started {
    background-image: url("./Assets/images/bg-lg.png");
  }
}


.line {
  transform: perspective(1200px) rotate(10deg)
}

.pic {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%)
}

.team1 {
  background-image: url("./Assets/images/team1.png");
}

.team2 {
  background-image: url("./Assets/images/team2.jpg");
}

@media screen and (min-width: 960px) {
  .team2{
    border-top-right-radius: 16px;
  }
}

.team3 {
  background-image: url("./Assets/images/team3.png");
}

.team4 {
  background-image: url("./Assets/images/team4.png");
}

.started, .team1, .team2, .team3, .team4, .blog-2, .blog-3 {
  background-repeat: no-repeat;
  background-size: cover;
}

.team1, .team2, .team3, .started, .team4 {
  background-position: center center;
}

.blog-2 {
  background-image: url("./Assets/images/blog2.png");
  background-position: top center;
}

.blog-3 {
  background-image: url("./Assets/images/blog3.png");
  background-position: top center;
}

@media screen and (min-width: 960px) {
  .blog2, .blog-3 {
    background-position: top -100px center;
  }
}